<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
<strong>Locations:</strong>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Tag</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <% @event.locations.each do |location| %>
    <tr>
      <td><%= location.name %></td>
      <td><%= location.tag %></td>
    </tr>
  <% end %>
</table>
</p>

<table>
  <% @qr.modules.each_index do |x| -%>
    <tr>
    <% @qr.modules.each_index do |y| -%>
      <% if @qr.dark?(x,y) -%>
        <td class="black"/>
      <% else -%>
        <td class="white"/>
      <% end -%>
    <% end -%>
    </tr>
  <% end -%>
</table>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
